@keyframes rotating {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

@keyframes appearing{
    from{
        transform: rotate(360deg);
        margin-right: -100rem;
    }

    to{
        transform: rotate(0deg);
        margin-right: 0;
    }
}



@keyframes appearing_bg{
    from{
        margin-right: -100rem;
        transform: rotate(360deg);
    }

    to{
        margin-right: 0;
        transform: rotate(0deg);
    }
}



@keyframes appearing-logo {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}




@keyframes dots-move {
    from{
        transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}


