@keyframes rotating {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

@keyframes appearing{
    from{
        transform: rotate(360deg);
        margin-right: -100rem;
    }

    to{
        transform: rotate(0deg);
        margin-right: 0;
    }
}



@keyframes appearing_bg{
    from{
        margin-right: -100rem;
        transform: rotate(360deg);
    }

    to{
        margin-right: 0;
        transform: rotate(0deg);
    }
}



@keyframes appearing-logo {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}




@keyframes dots-move {
    from{
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}




@keyframes egorkreed-videos{
    from{
        right: -100%;
    }

    to{
        right: 0;
    }
}


@keyframes anim-text-right-left{
    from{
        transform: translate(0, -50%);
        opacity: 0;
    }
    to{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}


@keyframes anim-text-left-right {
    from{
        transform: translate(-100%, -50%);
        opacity: 0;
    }
    to{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}


