@import url('static.css');
@import url('keyframes.css');
@import url('vars.css');


$maxWidth:1920;
$maxWidthContainer: 1600;

@mixin adaptive-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.6;
    @media (max-width:830px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width:830px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}


@mixin adaptive-value ($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        //less than container
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    } @else if $type == 2 {
        //more than container
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    } @else {
        //forever
        #{$property} :calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}









.intro{
    width: 100%;
    background: #fff;
    overflow:hidden;
    @include adaptive-value("padding-top", 100, 32, 0);
    @include adaptive-value("padding-bottom", 600, 40, 0);

    .container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0;

        .left{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: flex-start;
            z-index: 5;
            padding: 0 0 0 15px;
            .logo{
                margin-bottom:170px;
                animation: appearing-logo 2s ease;
                @media (max-width:1920px){
                    @include adaptive-value("margin-bottom",170, 80, 0);
                }
                img{
                    @media (max-width:1920px){
                        @include adaptive-value("width", 405, 210 , 0)
                    }
                }
                // @media (max-width:1920px){
                //     width: calc(210px + (405 - 210) * ((100vw - 320px) / (1920 - 320)));
                // }
            }
            h1{
                color: #000;
                font-weight: 600;
                font-size: 183px;
                margin-bottom: 5px;
                @media (max-width:1920px){
                    @include adaptive-font(183, 37);
                }
                height: fit-content;
            }

            .part_text{
                text-transform: uppercase;
                color: #000;
                font-weight: 600;
                font-size: 81px;
                @include adaptive-value(" margin-left",10, 2,0);
                &._anim-items{
                    &.active{
                        transition-delay: .3s;
                    }
                }
                @media (max-width:1920px){
                    @include adaptive-font(81, 20);
                }
            }
        }


        .right{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: fit-content;
            margin-top: 23%;
            margin-right: 6%;
            & > div{
                position: absolute;
                width: fit-content;
                height: fit-content;
            }
            .main_logo{
                z-index: 3;
                margin-top: 9rem;
                animation: appearing 3s ease;
                @media (max-width:1920px){
                    @include adaptive-value("margin-top",144,192,0)
                }
                img{
                    @media (max-width:1330px){
                        @include adaptive-value("width",830,100, 0);
                    }
                }
            }
            .background_logo{
                z-index: 2;
                animation: appearing_bg ease 4s;
                @media (max-width:1330px){
                    @include adaptive-value("margin-top",20, 182,0);
                }
                img{
                    @media (max-width:1330px){
                        @include adaptive-value("width",620,80,0);
                    }
                }
            }
            .background_rotate-round{
                z-index: 1;
                animation: 5s linear rotating infinite;
                @media (max-width:1920px){
                    @include adaptive-value("margin-top",0,176, 0)
                }

                img{
                    @media (max-width:1920px){
                        @include adaptive-value("width",1574,192, 0)
                    }
                }
            }
        }
    }
}





.egor_kreed{
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    @include adaptive-value("padding-top",300, 100,0);
    @include adaptive-value("padding-bottom",300, 170,0);
    .egor{
        width: 50%;
        position: relative;
        @include adaptive-value("left",-250,-80,0);

        img{
            @include adaptive-value("width",1100,270,0);
            z-index: 6;
            position: relative;
        }

        .link-to_blogger{
            position: absolute;
            top: 80%;
            z-index: 7;
            transform: translate(-50%, -50%);
            @include adaptive-value("left",550, 130, 0);
        }

        .block__rounds{
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            z-index: 1;
            transform: rotate(60deg);
            @include adaptive-value("width",1005,125,0);
            @include adaptive-value("height",1005,125,0);
            @include adaptive-value("top",500,190,0);
            @include adaptive-value("left",-250,40,0);
            &._anim-items{
                opacity: 1;
                transition: none;
                .round{
                    animation: dots-move 2s ease;
                }
            }

            .round{
                background: #000;
                border-radius: 50%;
                @include adaptive-value("width",170,20, 0);
                @include adaptive-value("height",170,20, 0);
                @include adaptive-value("margin",30,4, 0);
            }
        }
    }


    .tik-tok__item{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 9;
        @include adaptive-value("margin-right",100, 10, 0);
        &:nth-child(2){
            @include adaptive-value("top",200 ,140,0 );
            img{
                @include adaptive-value("width", 783, 140, 0);
            }
        }
        &:last-child{
            @include adaptive-value("top",850,300,0);
            img{
                @include adaptive-value("width", 430, 100, 0);
            }
        }
        img{
            display: block;
            object-fit: cover;
            max-width: 100%;
            transition: all .4s ease;
            cursor: pointer;
            &:hover{
                transform: scale(1.1)
            }
        }
        .video__short__title{
            @include adaptive-font(60, 15);
            text-align: right;
            &._anim-items{
                transition-delay: .3s;
            }
        }
    }
}




.vashamarousia{
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    overflow: hidden;
    @include adaptive-value("padding-top",176, 96, 0);
    @include adaptive-value("padding-bottom",176, 96, 0);

    .tik-tok__shortcuts{
        width: 100%;
        position: relative;
        z-index: 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include adaptive-value("margin-left",100, 10, 0);
        // @include adaptive-value("max-width",600, 200, 0);
        .tik-tok__item{
            margin: 15px;
            position: relative;
            @include adaptive-value("margin",15, 5, 0);
            img{
                @include adaptive-value("width",265,60,0);
                &:first-child{
                    position: relative;
                    z-index: 5;
                    transition: .4s ease;
                    cursor: pointer;
                    &:hover{
                        transform: scale(1.1);
                    }
                }

                &:last-child{
                    filter: blur(20px);
                    position: absolute;
                    left: 0;
                    z-index: 4;
                    @include adaptive-value("top",40, 25,0 );
                }
            }
        }
    }

    .marusia{
        position: relative;
        @include adaptive-value("top",-335,-155,0);
        @include adaptive-value("right",-220, 38, 0);
        &::before{
            content: '';
            border-radius: 50%;
            -webkit-filter: blur(30px);
            filter: blur(30px);
            background: #FF0000;
            position: absolute;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            @include adaptive-value("width", 700,200, 0);
            @include adaptive-value("height", 700,200, 0);
            @include adaptive-value("top", 900,180, 0);
            @include adaptive-value("right", -100, -74, 0);

        }
        img{
            position: relative;
            z-index: 5;
            @include adaptive-value("width",1200, 260,0 );
        }

        .link-to_blogger{
            position: absolute;
            top: 80%;
            left: 50%;
            z-index: 7;
            transform: translate(-50%, -50%);
        }
    }
}



