@keyframes rotating {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}


@keyframes appearing_logo {
    from{
        transform: translateX(100%);
    }

    to{
        transform: translateX(0);
    }
}


@keyframes rotating_logo {
    from{
        transform: rotate(360deg);
    }

    to{
        transform: rotate(0);
    }
}