html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
dl,
dt,
dd,
ol,
ul,
li,
button,
fieldset,
form,
input,
label,
legend,
textarea,
select,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
a,
b,
i,
u,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-style: normal;
  vertical-align: baseline;
  background: none;
  white-space: normal;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  word-break: keep-all;
}
form {
  height: inherit;
}
iframe {
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


A:link,
A:active,
A:hover,
A:visited {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
