// ._anim-items{
//     transform: translateY(-30%);
//     opacity: 0;
//     &.active{
//         transform: translateY(0);
//         opacity: 1;
//         transition: all .6s ease;
//     }
// }
@import 'fonts';

$dark: #000;
$wh: #fff;


$maxWidth:1920;
$maxWidthContainer: 1920;

@mixin adaptive-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.6;
    @media (max-width:830px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth}));
    }
    @media (min-width:830px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
    }
}


@mixin adaptive-value ($property, $startSize, $minSize, $type) {
    $addSize: $startSize - $minSize;
    @if $type==1 {
        //less than container
        #{$property}: $startSize + px;
        @media (max-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
        }
    } @else if $type == 2 {
        //more than container
        #{$property}: $startSize + px;
        @media (min-width: #{$maxWidthContainer + px}) {
            #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
        }
    } @else {
        //forever
        #{$property} :calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
    }
}



.link_to_blogger{
    position: absolute;
    top: 78%;
    transition: all .5s ease;

    span{
        font-weight: 600;
        color: $wh;
        box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
        background: rgba(251, 234, 220, 0.33);
        border-radius: 57px;
        @include adaptive-value("font-size", 72, 16, 0);
        @include adaptive-value("padding-top", 29, 12, 0);
        @include adaptive-value("padding-bottom", 29, 12, 0);
        @include adaptive-value("padding-left", 38, 19, 0);
        @include adaptive-value("padding-right", 38, 19, 0);
    }
    
    &:hover{
        margin-top: -40px;
    }
}